/* tạo khung lớn */
ul, li{
    list-style-type: none;
}
.container{
    width: 1000px;
    border: 2px solid black;
    height: 1185px;
}
/* Tạo phần logo và chữ */
.anh_bia{
    display: grid;
    grid-template-columns: 200px 100px;
}
/* Thay đổi kích thước logo */
.logo{
    
    max-width: 100px;
    height: auto;
}
/* .a{
    max-width: 250px;
    height: auto;
} */
/* Tạo khung và màu cho phần header */
.header{
    background-color: burlywood;
    border: 1px solid black;
    height: 180;
}
/* Tạo bố cục,khung,màu cho phần menu ở trên header */
#mn1{
    margin: 10px;
    background-color: bisque;
    border: 1px solid black;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
/*Tạo menu ở phần content */
#mn1 .mn2 {
    display: none;
}
#mn1 li:hover .mn2 {
    display: block;
}
#mn1 .mn3{
    display: none;
}
#mn1 li:hover .mn3{
    display: block;
}
#mn1 .mn4{
    display: none;
}
#mn1 li:hover .mn4{
    display: block;
}
#mn1 .mn5{
    display: none;

}
#mn1 li:hover .mn5{
    display: block;
}
/* #menuchinh  .m1{
    display: none;
}
#menuchinh li:hover .m1{
    display: block;
} */
.nu1,.nu2{
    display: none;
}

#menuchinh li:hover .nu1{
    display: block;
    border: solid red 1px;
    position: absolute;
    top: 320px;
    left: 120px;
    height:100px;
    width: 100px;
    color:white;
    background: black;

}
.nu2 .nu3{
    display: none;
} 
.nu2 li:hover .nu3{
    display: block;
}
.nu3 .nu4{
    display: none;
}
.nu3 li:hover .nu4{
    display: block;
}
.nu4 .nu5{
    display: none;
}
.nu4 li:hover .nu5{
    display: block;
    position: absolute; 
}
/* Tạo khung màu chữ cho phần menu ở content */

#menuchinh .i1 .i2 .i3 .i4 .i5 .i6{
    border: 1px solid black;
    width: 100px;
    color: blue;
    list-style: none;
    padding: 0px;
}
/* Tạo màu chữ cho phần menu ở các menu con ở content */
/* .m1 ,.m2 ,.m3 ,.m4 ,.m5{
    width: 1000px;
    color: blue;
    list-style: none;

} */
/* Tạo bố cục hiện thị cho phần content(chia ra 2 phần 1 phần
menu 1 phần hình ảnh camera */
.content{
    background-color: gray;
    display: grid;
    grid-template-columns: 20.4% 30%;
}
/* Tạo bố cục hiện thị ở phần product là 3 ảnh trên 1 dòng */
.product{
    padding: 10px;
    margin: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}
/* Tạo phần khung ở phần product */
.PRODUCT1{
    border: 1px solid;
    width: 700px;
    height: 1000px;
}
/* Thay đổi kích thước các ảnh trong phần product */
.product img{
    width: 150px;
    height: 150px;
    margin: 10px;
}
/* Tạo màu,khung cho từng ảnh camera */
.anh1{
    border: 1px solid white;
    width: 200px;
    height: 350px;
    background-color: white;
    margin: 7px;

}
/* Tạo màu chữ và vị trí cho dòng chữ LUMIX DMC-2 */
.text{
    color: blue;
    text-align: center;
}
/* Tạo màu chữ và vị trí cho dòng chữ DIGITAL CAMERA */
.text2{
    text-align: center;
}
/* Tạo màu chữ và trị cho dòng chữ Please call */
.text3{
    text-align: center;
    color: red;
}
/* Tạo màu khung vị trí cho dòng chữ Add to cart */
.text4{
    text-align: center;
    border: 1px solid;
    width: 150px;
    padding: 10px;
    margin: 10px;
    background-color: grey;
    border-radius: 15px;
}
